body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: teal;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: lemonchiffon;
    padding-bottom: 20px;
}

h1, h2 {
    color: #333;
}

pre {
    color: white;
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    column-gap: 10px;
    display: none;
}

.card {
    border-radius: 5px;
    text-align: center;
    min-height: 90px;
    background-color: lightblue;
    margin: 5px 0;
    padding: 10px 0;
}